<div>
  <div class="form-group">
    <label>Document Type</label>
    <select class="form-control" data-ng-model="documentType">
      <option value="application-pdf">application/pdf</option>
      <option value="text-html">text/html</option>
      <option value="application-xhtml-xml">application/xhtml+xml</option>
      <option value="application-rss-xml">application/rss+xml</option>
      <option value="image-jpeg">image/jpeg</option>
      <option value="image-gif">image/gif</option>
      <option value="image-png">image/png</option>
      <option value="video-mp4">video/mp4</option>
      <option value="video-mpeg">video/mpeg</option>
      <option value="video-quicktime">video/quicktime</option>
    </select>
  </div>
</div>
