<div>
  <div class="form-group">
    <label>Entity</label>

    <select class="form-control" data-ng-model="entity" data-ng-init="entity = 'LOCATION'">
      <option value='sweet'>sweet</option>
      <option value='LOCATION'>LOCATION</option>
      <option value='geo'>geo</option>
      <option value='DATE'>DATE</option>
      <option value='TIME'>TIME</option>
      <option value='ORGANIZATION'>ORGANIZATION</option>
      <option value='PERSON'>PERSON</option>
      <option value='PERCENT'>PERCENT</option>
      <option value='MONEY'>MONEY</option>
    </select>
  </div>
</div>
