<div>
  <div class="row">
    <div class="col-md-3">
      <div c-doc-type-filter data-document-type="docType"></div>
    </div>

    <div class="col-md-3 col-md-offset-6">
      <div class="form-group pull-right" style="padding-top: 5px;">
        <button class="btn btn-md btn-warning"
                data-ng-click="fn.addQuery()"
                data-ng-disabled="state.isWorking"> Add Filter </button>&nbsp;&nbsp;
        <button class="btn btn-md btn-primary"
                data-ng-click="executeQuery()"
                data-ng-disabled="state.isWorking"> Query </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div c-concept-filter data-queries="queries" data-functions="fn"></div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">
      <nvd3 options="options" data="data"></nvd3>
    </div>
  </div>
</div>
